<?xml version="1.0"?>
        <!--
            - Base      : kobuki
            - Stacks    : hexagons
            - 3d Sensor : hokuyo
        -->
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find robot_gazebo)/urdf/turtlebot_common_library.urdf.xacro" />
  <xacro:include filename="$(find robot_gazebo)/urdf/kobuki.urdf.xacro"/>
  <xacro:include filename="$(find robot_gazebo)/urdf/stacks/hexagons.urdf.xacro"/>
  <xacro:include filename="$(find robot_gazebo)/urdf/sensors/HDL-32E.urdf.xacro"/>
  <xacro:include filename="$(find robot_gazebo)/urdf/sensors/kinect.urdf.xacro"/>

  <xacro:include filename="$(find robot_gazebo)/urdf/turtlebot_gazebo.urdf.xacro" />


  <xacro:kobuki/>
  <xacro:stack_hexagons parent="base_link" />
  
  <xacro:HDL-32E parent="base_link">
    <origin xyz="0 0 0.2422" rpy="0 0 0 "/>
  </xacro:HDL-32E>

  <xacro:sensor_kinect  parent="base_link"/>
</robot>
